.wpmake-advance-user-avatar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
	padding: 30px;

	h4 {
		color:darkblue;
		margin-bottom:50px;
	}

	.profile-preview {
		max-width:96px;
		max-height:96px;
		margin-bottom: 15px;
	}

	.wpmake-advance-user-avatar-upload {
		.wpmake-advance-user-avatar-upload-node {
			height: 0;
			width: 0;
			margin: 0;
			padding: 0;
			float: left;
			border: 0;
			overflow: hidden;
		}
	}

	.wpmake-advance-user-avatar-error {
		border-top-color:#ff4f55;
		background:rgba(255,79,85,.1);
		color:#ff030b;
		font-size: 18px;
	}

	.wpmake-advance-user-avatar-success {
		border-top-color:green;
		background:rgba(255,79,85,.1);
		color:green;
		font-size: 18px;
	}
}
