.wpmake-user-avatar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
	padding: 30px;
}

.wpmake-user-avatar-container h4{
	color:darkblue;
	margin-bottom:50px;
}
