body.users_page_wpmake-advance-user-avatar {
	.wpmake-advance-user-avatar-setting-field {
		width: 350px;
		height: 35px;
	}

	.wpmake-advance-user-avatar-setting-desc {
		font-style: italic;
	}

	th {
		width: 25%;
		padding: 15px 10px;
	}
	td {
		display: flex;
		flex-direction: column;
		gap: 12px;
		line-height: 1.3;
		vertical-align: middle;
		flex: 0 0 60%;

		span {
			display: flex;
			align-items: center;
			gap: 15px;

			input {
				width: 8% !important;
			}
		}

		span.selection {
			width: 100%;
		}
		.select2-selection--multiple {
			min-height: 28px;
			border-radius: 4px;
			line-height: 1.5;
			border: 1px solid #ddd !important;
			padding-left: 4px;
			width: 200px;

			.select2-search--inline {
				display: none;
			}

			.select2-selection__rendered {
				padding-left: 0px;
				flex-wrap: wrap;
				display: flex;
				margin: 0;
				padding-right: 0px;
				height: 35px;

				.select2-selection__choice {
					background: #f5f5f5;
					border-radius: 5px;
					border: 0;
					flex-direction: row-reverse;
					gap: 6px;
					padding: 3px 10px;
					font-weight: 400;
					font-size: 13px;
					line-height: 150%;
					color: #383838;
					margin: 4px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 0;

					&__remove {
						border: none;
						background: none;
						color: #383838;
						font-size: 14px;
					}
				}
			}
		}
	}
}

#wpmake-aua-review-notice {
	border-left-color: #475BD9;
}

.wpmake-aua-notice {
	padding: 15px 15px 15px 0 !important;
	background-color: #fff !important;
	margin-top: 15px !important;

	.notice-dismiss {
		margin-left: 2px;
		&:before {
			display: none;
		}
	}

	&.is-dismissible {
		.notice-dismiss {
			&::before {
				display: block;
			}
		}
	}

	.wpmake-aua-notice-thumbnail {
		float: left;
		text-align: center;
		margin: 5px 25px;
		width: 80px;

		img {
			border-radius: 5px;
			vertical-align: middle;
			width: 100%;
		}
	}

	.wpmake-aua-notice-text {
		overflow: hidden;

		.wpmake-aua-notice-header {
			display: flex;
			justify-content: space-between;

			h3 {
				font-size: 18px;
				margin: 0;
				line-height: 1;
			}

			.close-btn {
				font-size: 30px;
				color: darkgray;
				cursor: pointer;
				text-decoration: none;
				position: relative;
			}
		}

		.ur-error {
			color: #d63638;
		}

		p {
			font-size: 14px;
			margin: 0;
			padding: 0 0 10px 0;
		}
	}

	.extra-pad {
		padding-bottom: 20px;
	}

	.wpmake-aua-notice-links {
		display: flex;
		justify-content: center;

		a {
			position: relative;
			text-decoration: none;
		}

		.wpmake-aua-notice-ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 10px;

				a {
					display: inline-block;
					text-decoration: none;
					position: relative;

					span {
						margin-right: 5px;
						margin-top: 4px;
					}
				}

			}
			.button-primary {
				background: #475BD9;
				border-color: #475BD9;
			}
			.button-primary:focus,
			.button-primary:hover {
				background: #2e44a1;
				border-color: #2e44a1;
			}
			.button.button-secondary {
				border-color: #475BD9;
				color: #475BD9;
				box-shadow: none;
			}
		}
	}

	#wpmake-aua-notice .wpmake-aua-notice-ul li a span {
		padding: 4px 0px;
	}
	.wpmake-aua-notice-text span.dashicons.dashicons-smiley.smile-icon {
		background: #f7e143;
		border-radius: 50%;
		font-size: 15px;
		border: 1px solid;
		width: 17px;
		height: 17px;
	}
}
#toplevel_page_wpmake-aua ul li a[href="admin.php?page=wpmake-aua-members"] {
	display: none;
}
