.wpmake-advance-user-avatar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
	padding: 30px;

	h4 {
		color:darkblue;
		margin-bottom:50px;
	}

	.profile-preview {
		max-width:96px;
		max-height:96px;
		margin-bottom: 15px;
	}

	.wpmake-advance-user-avatar-upload {
		display: flex;
		flex-direction: column;
		align-items: center;

		.wpmake-advance-user-avatar-upload-node {
			height: 0;
			width: 0;
			margin: 0;
			padding: 0;
			float: left;
			border: 0;
			overflow: hidden;
		}

		button {
			padding: 10px;
			border: none;
			border-radius: 3.75px;
			color: white;

			&.wpmake_advance_user_avatar_take_snapshot {
				background-color: #475BD9;

				&:hover {
					background-color: #76add4;
				}
			}

			&.wpmake_advance_user_avatar_upload {
				background-color: #0693e3;

				&:hover {
					background-color: #76add4;
				}
			}

			&.wpmake-advance-user-avatar-remove {
				background-color: #ff030b;
			}
		}
	}

	.wpmake-advance-user-avatar-error {
		background:rgba(255,79,85,.1);
		color:#ff030b;
		font-size: 14px;
		border: 2px solid #ff4f55;
		padding: 10px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		gap: 15px;

		img {
			flex: 13%;
		}
	}

	.wpmake-advance-user-avatar-success {
		background:rgba(0,128,0,.1);
		color:green;
		font-size: 14px;
		border: 2px solid green;
		padding: 10px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		gap: 15px;

		img {
			flex: 13%;
		}
	}
}
